.header_container{
    padding: 20px;
    color: #6a6a6a;
}
.filterSettings{
  background-color: #6a6a6a;
  color: white;
  padding: 0 4px;
  border-radius: 2px;
  margin: 3px;
}

.header_sortElement_container{
  display: flex;
  gap: 4px;
}

.sortElement_direction_container{
  display: flex;
  flex-direction: column; 
}

.triangleUp{
  border: 5px solid transparent;
  border-bottom: 5px solid #919191;
  margin-bottom: 3px;
}

.triangleDown{
  border: 5px solid transparent;
  border-top: 5px solid #919191;
}

.active_triangleUp{
  border: 5px solid transparent;
  border-bottom: 5px solid #000000;
  margin-bottom: 3px;
}

.active_triangleDown{
  border: 5px solid transparent;
  border-top: 5px solid #000000;
}

