.arrow {
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 5px;
    background: transparent;
    text-indent: -9999px;
    border-top: 2px solid #bfbfbf;
    border-left: 2px solid #bfbfbf;
    transition: all 250ms ease-in-out;
    text-decoration: none;
    color: transparent;
    transform: rotate(-135deg);
    /* margin-right: 10px; */
  }

  .arrow:hover {
    border-color: gray;
    border-width: 5px;
  }
  
  .arrow:before {
    display: block;
    height: 200%;
    width: 200%;
    margin-left: -50%;
    margin-top: -50%;
    content: "";
    transform: rotate(-135deg);
  }
.header_container{
    padding: 20px;
    background-color: #d1d1d1;
}